Babel==2.17.0
google-cloud-datastore==2.21.0
humanize==4.12.2
img2pdf==0.6.1
Logbook==1.8.1
matplotlib==3.10.1
ocrmypdf==16.10.4
pdfCropMargins==2.1.4
pdf2image==1.17.0
pdfminer.six==20231228
python-dotenv==1.0.1
python-telegram-bot==13.15
Pillow==10.4.0
PyPDF2==3.0.1
slackclient==2.9.4
textblob==0.18.0.post0
WeasyPrint==61.2
git+https://github.com/zeshuaro/noteshrink.git#egg=noteshrink
git+https://github.com/zeshuaro/pdf-diff#egg=pdf_diff
